<div class="card text-white bg-dark col-sm-8 my-4" style="margin: auto;">
  <div class="card-header">Encuesta</div>
  <div class="card-body margen">
    <form (ngSubmit) = "enviar()" #encuestaForm="ngForm">
      <div class="form-group row my-3">
        <label for="documento" class="col-form-label col-sm-3">Número de documento</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="encuesta.documento" name="documento" required #documento="ngModel">
          <div class="alert alert-danger" *ngIf="documento.invalid && documento.dirty">
            <div *ngIf="documento.errors.required">
              El documento es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row my-3">
        <label for="correo" class="col-form-label col-sm-3">Correo electrónico</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="encuesta.correo" name="correo" required email #correo="ngModel">
          <div class="alert alert-danger" *ngIf="correo.invalid && correo.dirty">
            <div *ngIf="correo.errors.required">
              El correo es requerido
            </div>
            <div *ngIf="correo.errors.email">
              El formato de correo sebe ser un formato válido
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row my-3">
        <label for="comentarios" class="col-form-label col-sm-3">Comentarios</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="encuesta.comentarios" name="comentarios">
        </div>
      </div>
      <div class="form-group row my-3">
        <label for="marcaPC" class="col-form-label col-sm-3">Marca de PC favorita</label>
        <div class="col-sm-7 my-1">
          <select [(ngModel)]="encuesta.marcaPC" name="marcaPC" required #marcapc="ngModel">
            <option *ngFor="let marca of marcasPC" [ngValue]="marca">{{marca.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row my-3">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" [disabled]="!encuestaForm.form.valid">Enviar</button>
        </div>
      </div>
    </form>

  </div>

</div>
